@charset 'UTF-8';
{{ url_for('static', filename='noscript.css') }}
@font-face{font-family:'FontAwesome';src:url('{{ url_for('static', filename='font/fontawesome-webfont.eot?v=4.0.1') }}');
			src:url('{{ url_for('static', filename='font/fontawesome-webfont.eot?#iefix&v=4.0.1') }}') format('embedded-opentype'),
			url('{{ url_for('static', filename='font/fontawesome-webfont.woff?v=4.0.1') }}') 
			format('woff'),url('{{ url_for('static', filename='font/fontawesome-webfont.ttf?v=4.0.1') }}') format('truetype'),
			url('{{ url_for('static', filename='font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') }}') format('svg');
			font-weight:normal;font-style:normal}

/*
	Astral 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body
	{
		/*
			Fallback for browsers that don't support pseudo elements.
		*/

		background: url('images/bg.jpg');
	}

		body:before
		{
			content: '';
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			/*
				Default background is a weird gradient so I've set it to stretch to
				100% in both directions. If you replace it with a photo or something,
				set background-size to "cover".
			*/

			background: url('images/bg.jpg');
			background-size: 100% 100%;
		}

		/*
			The pseudo element below applies a noise pattern to the background image. It's
			meant to help mask blurriness, but you can remove it if you don't like it.
		*/

		body:after
		{
			content: '';
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
			z-index: -1;
		}
	
	body, input, textarea
	{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #777;
	}
	
	strong, b
	{
		font-weight: 400;
		color: #363636;
	}

	h1, h2, h3, h4,h5, h6
	{
		font-weight: 400;
		color: #363636;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: 100%;
	}
	
	table.style1
	{
		width: 100%;
	}
	
		table.style1 tbody tr:nth-child(2n+2)
		{
			background: #f4f4f4;
		}
		
		table.style1 td
		{
			padding: 0.5em 1em 0.5em 1em;
		}
		
		table.style1 th
		{
			text-align: left;
			font-weight: 400;
			padding: 0.5em 1em 0.5em 1em;
		}
	
		table.style1 thead
		{
			background: #222222;
			color: #fff;
		}
		
		table.style1 tfoot
		{
			background: #eee;
		}
		
		table.style1 tbody
		{
		}

	form
	{
	}
	
		form input.text,
		form select,
		form textarea
		{
			border: 0;
			background: #f0f0f0;
			padding: 0.65em;
			width: 100%;
		}

		form input.button,
		form input.text,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}
		
		form textarea
		{
			height: 15em;
		}
		
		form input:focus,
		form select:focus,
		form textarea:focus
		{
			background: #f5f5f5;
		}

		form ::-webkit-input-placeholder
		{
			color: #999;
		}

		form :-moz-placeholder
		{
			color: #999;
		}

		form ::-moz-placeholder
		{
			color: #999;
		}

		form :-ms-input-placeholder
		{
			color: #999;
		}		

	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table, blockquote, form
	{
		margin-bottom: 2em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
	.button
	{
		display: inline-block;
		background-color: #222222;
		color: #fff;
		border: 0;
		cursor: pointer;
		outline: 0;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-o-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
	}

		.button:hover
		{
			background-color: #333333;
		}
		
		.button:active
		{
			background-color: #444444;
		}
	
		.button-alt
		{
			background-color: #777777;
		}

			.button-alt:hover
			{
				background-color: #888888;
			}
			
			.button-alt:active
			{
				background-color: #999999;
			}
	
		.button-small
		{
		}
		
		.button-big
		{
		}
		
		.button-huge
		{
		}

	ul.style1
	{
		list-style: disc;
		padding-left: 1em;
	}
	
		ul.style1 li
		{
			padding-left: 0.5em;
		}
	
	ul.links
	{
	}
	
		ul.links li
		{
			display: inline-block;
		}

			ul.links li:before
			{
				display: inline;
				content: '\2022';
				opacity: 0.5;
			}
		
			ul.links li:first-child:before
			{
				display: none;
			}
		
	ol.style1
	{
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.style1 li
		{
			padding-left: 0.25em;
		}

	.byline
	{
		display: block;
		color: #aaa;
	}
	
/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/

	.fa
	{
		text-decoration: none;
	}

		.fa.solo
		{
		}
		
			.fa.solo span
			{
				display: none;
			}

		.fa:before
		{
			display:inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}

		.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}
		.fa-2x{font-size:2em}
		.fa-3x{font-size:3em}
		.fa-4x{font-size:4em}
		.fa-5x{font-size:5em}
		.fa-fw{width:1.2857142857142858em;text-align:center}
		.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}
		.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}
		.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}
		.pull-right{float:right}
		.pull-left{float:left}
		.fa.pull-left{margin-right:.3em}
		.fa.pull-right{margin-left:.3em}
		.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
		@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)} 100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)} 100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)} 100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)} 100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)} 100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
		.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
		.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}
		.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1);-o-transform:scale(-1, 1);transform:scale(-1, 1)}
		.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-moz-transform:scale(1, -1);-ms-transform:scale(1, -1);-o-transform:scale(1, -1);transform:scale(1, -1)}
		.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}
		.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}
		.fa-stack-1x{line-height:inherit}
		.fa-stack-2x{font-size:2em}
		.fa-inverse{color:#fff}
		.fa-glass:before{content:"\f000"}
		.fa-music:before{content:"\f001"}
		.fa-search:before{content:"\f002"}
		.fa-envelope-o:before{content:"\f003"}
		.fa-heart:before{content:"\f004"}
		.fa-star:before{content:"\f005"}
		.fa-star-o:before{content:"\f006"}
		.fa-user:before{content:"\f007"}
		.fa-film:before{content:"\f008"}
		.fa-th-large:before{content:"\f009"}
		.fa-th:before{content:"\f00a"}
		.fa-th-list:before{content:"\f00b"}
		.fa-check:before{content:"\f00c"}
		.fa-times:before{content:"\f00d"}
		.fa-search-plus:before{content:"\f00e"}
		.fa-search-minus:before{content:"\f010"}
		.fa-power-off:before{content:"\f011"}
		.fa-signal:before{content:"\f012"}
		.fa-gear:before,.fa-cog:before{content:"\f013"}
		.fa-trash-o:before{content:"\f014"}
		.fa-home:before{content:"\f015"}
		.fa-file-o:before{content:"\f016"}
		.fa-clock-o:before{content:"\f017"}
		.fa-road:before{content:"\f018"}
		.fa-download:before{content:"\f019"}
		.fa-arrow-circle-o-down:before{content:"\f01a"}
		.fa-arrow-circle-o-up:before{content:"\f01b"}
		.fa-inbox:before{content:"\f01c"}
		.fa-play-circle-o:before{content:"\f01d"}
		.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}
		.fa-refresh:before{content:"\f021"}
		.fa-list-alt:before{content:"\f022"}
		.fa-lock:before{content:"\f023"}
		.fa-flag:before{content:"\f024"}
		.fa-headphones:before{content:"\f025"}
		.fa-volume-off:before{content:"\f026"}
		.fa-volume-down:before{content:"\f027"}
		.fa-volume-up:before{content:"\f028"}
		.fa-qrcode:before{content:"\f029"}
		.fa-barcode:before{content:"\f02a"}
		.fa-tag:before{content:"\f02b"}
		.fa-tags:before{content:"\f02c"}
		.fa-book:before{content:"\f02d"}
		.fa-bookmark:before{content:"\f02e"}
		.fa-print:before{content:"\f02f"}
		.fa-camera:before{content:"\f030"}
		.fa-font:before{content:"\f031"}
		.fa-bold:before{content:"\f032"}
		.fa-italic:before{content:"\f033"}
		.fa-text-height:before{content:"\f034"}
		.fa-text-width:before{content:"\f035"}
		.fa-align-left:before{content:"\f036"}
		.fa-align-center:before{content:"\f037"}
		.fa-align-right:before{content:"\f038"}
		.fa-align-justify:before{content:"\f039"}
		.fa-list:before{content:"\f03a"}
		.fa-dedent:before,.fa-outdent:before{content:"\f03b"}
		.fa-indent:before{content:"\f03c"}
		.fa-video-camera:before{content:"\f03d"}
		.fa-picture-o:before{content:"\f03e"}
		.fa-pencil:before{content:"\f040"}
		.fa-map-marker:before{content:"\f041"}
		.fa-adjust:before{content:"\f042"}
		.fa-tint:before{content:"\f043"}
		.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}
		.fa-share-square-o:before{content:"\f045"}
		.fa-check-square-o:before{content:"\f046"}
		.fa-move:before{content:"\f047"}
		.fa-step-backward:before{content:"\f048"}
		.fa-fast-backward:before{content:"\f049"}
		.fa-backward:before{content:"\f04a"}
		.fa-play:before{content:"\f04b"}
		.fa-pause:before{content:"\f04c"}
		.fa-stop:before{content:"\f04d"}
		.fa-forward:before{content:"\f04e"}
		.fa-fast-forward:before{content:"\f050"}
		.fa-step-forward:before{content:"\f051"}
		.fa-eject:before{content:"\f052"}
		.fa-chevron-left:before{content:"\f053"}
		.fa-chevron-right:before{content:"\f054"}
		.fa-plus-circle:before{content:"\f055"}
		.fa-minus-circle:before{content:"\f056"}
		.fa-times-circle:before{content:"\f057"}
		.fa-check-circle:before{content:"\f058"}
		.fa-question-circle:before{content:"\f059"}
		.fa-info-circle:before{content:"\f05a"}
		.fa-crosshairs:before{content:"\f05b"}
		.fa-times-circle-o:before{content:"\f05c"}
		.fa-check-circle-o:before{content:"\f05d"}
		.fa-ban:before{content:"\f05e"}
		.fa-arrow-left:before{content:"\f060"}
		.fa-arrow-right:before{content:"\f061"}
		.fa-arrow-up:before{content:"\f062"}
		.fa-arrow-down:before{content:"\f063"}
		.fa-mail-forward:before,.fa-share:before{content:"\f064"}
		.fa-resize-full:before{content:"\f065"}
		.fa-resize-small:before{content:"\f066"}
		.fa-plus:before{content:"\f067"}
		.fa-minus:before{content:"\f068"}
		.fa-asterisk:before{content:"\f069"}
		.fa-exclamation-circle:before{content:"\f06a"}
		.fa-gift:before{content:"\f06b"}
		.fa-leaf:before{content:"\f06c"}
		.fa-fire:before{content:"\f06d"}
		.fa-eye:before{content:"\f06e"}
		.fa-eye-slash:before{content:"\f070"}
		.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}
		.fa-plane:before{content:"\f072"}
		.fa-calendar:before{content:"\f073"}
		.fa-random:before{content:"\f074"}
		.fa-comment:before{content:"\f075"}
		.fa-magnet:before{content:"\f076"}
		.fa-chevron-up:before{content:"\f077"}
		.fa-chevron-down:before{content:"\f078"}
		.fa-retweet:before{content:"\f079"}
		.fa-shopping-cart:before{content:"\f07a"}
		.fa-folder:before{content:"\f07b"}
		.fa-folder-open:before{content:"\f07c"}
		.fa-resize-vertical:before{content:"\f07d"}
		.fa-resize-horizontal:before{content:"\f07e"}
		.fa-bar-chart-o:before{content:"\f080"}
		.fa-twitter-square:before{content:"\f081"}
		.fa-facebook-square:before{content:"\f082"}
		.fa-camera-retro:before{content:"\f083"}
		.fa-key:before{content:"\f084"}
		.fa-gears:before,.fa-cogs:before{content:"\f085"}
		.fa-comments:before{content:"\f086"}
		.fa-thumbs-o-up:before{content:"\f087"}
		.fa-thumbs-o-down:before{content:"\f088"}
		.fa-star-half:before{content:"\f089"}
		.fa-heart-o:before{content:"\f08a"}
		.fa-sign-out:before{content:"\f08b"}
		.fa-linkedin-square:before{content:"\f08c"}
		.fa-thumb-tack:before{content:"\f08d"}
		.fa-external-link:before{content:"\f08e"}
		.fa-sign-in:before{content:"\f090"}
		.fa-trophy:before{content:"\f091"}
		.fa-github-square:before{content:"\f092"}
		.fa-upload:before{content:"\f093"}
		.fa-lemon-o:before{content:"\f094"}
		.fa-phone:before{content:"\f095"}
		.fa-square-o:before{content:"\f096"}
		.fa-bookmark-o:before{content:"\f097"}
		.fa-phone-square:before{content:"\f098"}
		.fa-twitter:before{content:"\f099"}
		.fa-facebook:before{content:"\f09a"}
		.fa-github:before{content:"\f09b"}
		.fa-unlock:before{content:"\f09c"}
		.fa-credit-card:before{content:"\f09d"}
		.fa-rss:before{content:"\f09e"}
		.fa-hdd-o:before{content:"\f0a0"}
		.fa-bullhorn:before{content:"\f0a1"}
		.fa-bell:before{content:"\f0f3"}
		.fa-certificate:before{content:"\f0a3"}
		.fa-hand-o-right:before{content:"\f0a4"}
		.fa-hand-o-left:before{content:"\f0a5"}
		.fa-hand-o-up:before{content:"\f0a6"}
		.fa-hand-o-down:before{content:"\f0a7"}
		.fa-arrow-circle-left:before{content:"\f0a8"}
		.fa-arrow-circle-right:before{content:"\f0a9"}
		.fa-arrow-circle-up:before{content:"\f0aa"}
		.fa-arrow-circle-down:before{content:"\f0ab"}
		.fa-globe:before{content:"\f0ac"}
		.fa-wrench:before{content:"\f0ad"}
		.fa-tasks:before{content:"\f0ae"}
		.fa-filter:before{content:"\f0b0"}
		.fa-briefcase:before{content:"\f0b1"}
		.fa-fullscreen:before{content:"\f0b2"}
		.fa-group:before{content:"\f0c0"}
		.fa-chain:before,.fa-link:before{content:"\f0c1"}
		.fa-cloud:before{content:"\f0c2"}
		.fa-flask:before{content:"\f0c3"}
		.fa-cut:before,.fa-scissors:before{content:"\f0c4"}
		.fa-copy:before,.fa-files-o:before{content:"\f0c5"}
		.fa-paperclip:before{content:"\f0c6"}
		.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}
		.fa-square:before{content:"\f0c8"}
		.fa-reorder:before{content:"\f0c9"}
		.fa-list-ul:before{content:"\f0ca"}
		.fa-list-ol:before{content:"\f0cb"}
		.fa-strikethrough:before{content:"\f0cc"}
		.fa-underline:before{content:"\f0cd"}
		.fa-table:before{content:"\f0ce"}
		.fa-magic:before{content:"\f0d0"}
		.fa-truck:before{content:"\f0d1"}
		.fa-pinterest:before{content:"\f0d2"}
		.fa-pinterest-square:before{content:"\f0d3"}
		.fa-google-plus-square:before{content:"\f0d4"}
		.fa-google-plus:before{content:"\f0d5"}
		.fa-money:before{content:"\f0d6"}
		.fa-caret-down:before{content:"\f0d7"}
		.fa-caret-up:before{content:"\f0d8"}
		.fa-caret-left:before{content:"\f0d9"}
		.fa-caret-right:before{content:"\f0da"}
		.fa-columns:before{content:"\f0db"}
		.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}
		.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}
		.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}
		.fa-envelope:before{content:"\f0e0"}
		.fa-linkedin:before{content:"\f0e1"}
		.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}
		.fa-legal:before,.fa-gavel:before{content:"\f0e3"}
		.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}
		.fa-comment-o:before{content:"\f0e5"}
		.fa-comments-o:before{content:"\f0e6"}
		.fa-flash:before,.fa-bolt:before{content:"\f0e7"}
		.fa-sitemap:before{content:"\f0e8"}
		.fa-umbrella:before{content:"\f0e9"}
		.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}
		.fa-lightbulb-o:before{content:"\f0eb"}
		.fa-exchange:before{content:"\f0ec"}
		.fa-cloud-download:before{content:"\f0ed"}
		.fa-cloud-upload:before{content:"\f0ee"}
		.fa-user-md:before{content:"\f0f0"}
		.fa-stethoscope:before{content:"\f0f1"}
		.fa-suitcase:before{content:"\f0f2"}
		.fa-bell-o:before{content:"\f0a2"}
		.fa-coffee:before{content:"\f0f4"}
		.fa-cutlery:before{content:"\f0f5"}
		.fa-file-text-o:before{content:"\f0f6"}
		.fa-building:before{content:"\f0f7"}
		.fa-hospital:before{content:"\f0f8"}
		.fa-ambulance:before{content:"\f0f9"}
		.fa-medkit:before{content:"\f0fa"}
		.fa-fighter-jet:before{content:"\f0fb"}
		.fa-beer:before{content:"\f0fc"}
		.fa-h-square:before{content:"\f0fd"}
		.fa-plus-square:before{content:"\f0fe"}
		.fa-angle-double-left:before{content:"\f100"}
		.fa-angle-double-right:before{content:"\f101"}
		.fa-angle-double-up:before{content:"\f102"}
		.fa-angle-double-down:before{content:"\f103"}
		.fa-angle-left:before{content:"\f104"}
		.fa-angle-right:before{content:"\f105"}
		.fa-angle-up:before{content:"\f106"}
		.fa-angle-down:before{content:"\f107"}
		.fa-desktop:before{content:"\f108"}
		.fa-laptop:before{content:"\f109"}
		.fa-tablet:before{content:"\f10a"}
		.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}
		.fa-circle-o:before{content:"\f10c"}
		.fa-quote-left:before{content:"\f10d"}
		.fa-quote-right:before{content:"\f10e"}
		.fa-spinner:before{content:"\f110"}
		.fa-circle:before{content:"\f111"}
		.fa-mail-reply:before,.fa-reply:before{content:"\f112"}
		.fa-github-alt:before{content:"\f113"}
		.fa-folder-o:before{content:"\f114"}
		.fa-folder-open-o:before{content:"\f115"}
		.fa-expand-o:before{content:"\f116"}
		.fa-collapse-o:before{content:"\f117"}
		.fa-smile-o:before{content:"\f118"}
		.fa-frown-o:before{content:"\f119"}
		.fa-meh-o:before{content:"\f11a"}
		.fa-gamepad:before{content:"\f11b"}
		.fa-keyboard-o:before{content:"\f11c"}
		.fa-flag-o:before{content:"\f11d"}
		.fa-flag-checkered:before{content:"\f11e"}
		.fa-terminal:before{content:"\f120"}
		.fa-code:before{content:"\f121"}
		.fa-reply-all:before{content:"\f122"}
		.fa-mail-reply-all:before{content:"\f122"}
		.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}
		.fa-location-arrow:before{content:"\f124"}
		.fa-crop:before{content:"\f125"}
		.fa-code-fork:before{content:"\f126"}
		.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}
		.fa-question:before{content:"\f128"}
		.fa-info:before{content:"\f129"}
		.fa-exclamation:before{content:"\f12a"}
		.fa-superscript:before{content:"\f12b"}
		.fa-subscript:before{content:"\f12c"}
		.fa-eraser:before{content:"\f12d"}
		.fa-puzzle-piece:before{content:"\f12e"}
		.fa-microphone:before{content:"\f130"}
		.fa-microphone-slash:before{content:"\f131"}
		.fa-shield:before{content:"\f132"}
		.fa-calendar-o:before{content:"\f133"}
		.fa-fire-extinguisher:before{content:"\f134"}
		.fa-rocket:before{content:"\f135"}
		.fa-maxcdn:before{content:"\f136"}
		.fa-chevron-circle-left:before{content:"\f137"}
		.fa-chevron-circle-right:before{content:"\f138"}
		.fa-chevron-circle-up:before{content:"\f139"}
		.fa-chevron-circle-down:before{content:"\f13a"}
		.fa-html5:before{content:"\f13b"}
		.fa-css3:before{content:"\f13c"}
		.fa-anchor:before{content:"\f13d"}
		.fa-unlock-o:before{content:"\f13e"}
		.fa-bullseye:before{content:"\f140"}
		.fa-ellipsis-horizontal:before{content:"\f141"}
		.fa-ellipsis-vertical:before{content:"\f142"}
		.fa-rss-square:before{content:"\f143"}
		.fa-play-circle:before{content:"\f144"}
		.fa-ticket:before{content:"\f145"}
		.fa-minus-square:before{content:"\f146"}
		.fa-minus-square-o:before{content:"\f147"}
		.fa-level-up:before{content:"\f148"}
		.fa-level-down:before{content:"\f149"}
		.fa-check-square:before{content:"\f14a"}
		.fa-pencil-square:before{content:"\f14b"}
		.fa-external-link-square:before{content:"\f14c"}
		.fa-share-square:before{content:"\f14d"}
		.fa-compass:before{content:"\f14e"}
		.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}
		.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}
		.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}
		.fa-euro:before,.fa-eur:before{content:"\f153"}
		.fa-gbp:before{content:"\f154"}
		.fa-dollar:before,.fa-usd:before{content:"\f155"}
		.fa-rupee:before,.fa-inr:before{content:"\f156"}
		.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}
		.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}
		.fa-won:before,.fa-krw:before{content:"\f159"}
		.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}
		.fa-file:before{content:"\f15b"}
		.fa-file-text:before{content:"\f15c"}
		.fa-sort-alpha-asc:before{content:"\f15d"}
		.fa-sort-alpha-desc:before{content:"\f15e"}
		.fa-sort-amount-asc:before{content:"\f160"}
		.fa-sort-amount-desc:before{content:"\f161"}
		.fa-sort-numeric-asc:before{content:"\f162"}
		.fa-sort-numeric-desc:before{content:"\f163"}
		.fa-thumbs-up:before{content:"\f164"}
		.fa-thumbs-down:before{content:"\f165"}
		.fa-youtube-square:before{content:"\f166"}
		.fa-youtube:before{content:"\f167"}
		.fa-xing:before{content:"\f168"}
		.fa-xing-square:before{content:"\f169"}
		.fa-youtube-play:before{content:"\f16a"}
		.fa-dropbox:before{content:"\f16b"}
		.fa-stack-overflow:before{content:"\f16c"}
		.fa-instagram:before{content:"\f16d"}
		.fa-flickr:before{content:"\f16e"}
		.fa-adn:before{content:"\f170"}
		.fa-bitbucket:before{content:"\f171"}
		.fa-bitbucket-square:before{content:"\f172"}
		.fa-tumblr:before{content:"\f173"}
		.fa-tumblr-square:before{content:"\f174"}
		.fa-long-arrow-down:before{content:"\f175"}
		.fa-long-arrow-up:before{content:"\f176"}
		.fa-long-arrow-left:before{content:"\f177"}
		.fa-long-arrow-right:before{content:"\f178"}
		.fa-apple:before{content:"\f179"}
		.fa-windows:before{content:"\f17a"}
		.fa-android:before{content:"\f17b"}
		.fa-linux:before{content:"\f17c"}
		.fa-dribbble:before{content:"\f17d"}
		.fa-skype:before{content:"\f17e"}
		.fa-foursquare:before{content:"\f180"}
		.fa-trello:before{content:"\f181"}
		.fa-female:before{content:"\f182"}
		.fa-male:before{content:"\f183"}
		.fa-gittip:before{content:"\f184"}
		.fa-sun-o:before{content:"\f185"}
		.fa-moon-o:before{content:"\f186"}
		.fa-archive:before{content:"\f187"}
		.fa-bug:before{content:"\f188"}
		.fa-vk:before{content:"\f189"}
		.fa-weibo:before{content:"\f18a"}
		.fa-renren:before{content:"\f18b"}
		.fa-pagelines:before{content:"\f18c"}
		.fa-stack-exchange:before{content:"\f18d"}
		.fa-arrow-circle-o-right:before{content:"\f18e"}
		.fa-arrow-circle-o-left:before{content:"\f190"}
		.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}
		.fa-dot-circle-o:before{content:"\f192"}
		.fa-wheelchair:before{content:"\f193"}
		.fa-vimeo-square:before{content:"\f194"}
		.fa-turkish-lira:before,.fa-try:before{content:"\f195"}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	
	#nav
	{
	}
	
		#nav a
		{
			position: relative;
			display: inline-block;
			color: #fff;
			width: 1em;
			height: 1em;
			line-height: 0.9em;
		}

			#nav a.icon:before
			{
				padding-right: 0;
			}
		
/*********************************************************************************/
/* Panels                                                                        */
/*********************************************************************************/

	#main
	{
		position: relative;
		overflow: hidden;
	}

	.panel
	{
		position: relative;
	}

	/* Me */
	
		#me
		{
		}
		
			#me .pic
			{
				position: relative;
				display: block;
			}

				/*
					The pseudo element below applies a noise pattern to the "me" image. It's
					meant to help mask blurriness, but you can remove it if you don't like it.
				*/
			
				#me .pic:before
				{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: url('images/overlay.png');
					width: 100%;
					height: 100%;
					z-index: 1;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		color: #ccc;
		color: rgba(255,255,255,0.45);
	}
	
		#footer a
		{
			color: #ddd;
			color: rgba(255,255,255,0.65);
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		#footer a:hover
		{
			color: rgba(255,255,255,1.0);
		}


/* Use the Following CSS Code for a Red Button*/
.flato-red-button {
	padding: 9px 25px;
	background-color: #e4644b;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #de5440;
	-webkit-box-shadow: 0px 2px 0px 0px #de5440;
	box-shadow: 0px 2px 0px 0px #de5440;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7f1e3;
	font-smooth: always; 
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-red-button:visited {
	background-color: #e4644b;
	color: #f7f1e3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #de5440;
	-webkit-box-shadow: 0px 2px 0px 0px #de5440;
	box-shadow: 0px 2px 0px 0px #de5440;
	}
	
.flato-red-button:hover {
	background-color: #f78d6d;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #ef7e61;
	-webkit-box-shadow: 0px 2px 0px 0px #ef7e61;
	box-shadow: 0px 2px 0px 0px #ef7e61;
	color: #facbbc;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-red-button:active {
	background-color: #d95b46;
	color: #ebada3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #ce513e;
	-webkit-box-shadow: 0px 2px 0px 0px #ce513e;
	box-shadow: 0px 2px 0px 0px #ce513e;
	}
	
.flato-red-button-disabled {
	padding: 11px 20px;
	background-color: #f6b4a0;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #f6b4a0;
	-webkit-box-shadow: 0px 2px 0px 0px #f6b4a0;
	box-shadow: 0px 2px 0px 0px #f6b4a0;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7d5ca;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
/* Use the Following CSS Code for a Pink Button*/
.flato-pink-button {
	padding: 9px 25px;
	background-color: #e75d66;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #d34b57;
	-webkit-box-shadow: 0px 2px 0px 0px #d34b57;
	box-shadow: 0px 2px 0px 0px #d34b57;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7e3e6;
	font-smooth: always; 
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-pink-button:visited {
	background-color: #e75d66;
	color: #f7e3e6;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #d34b57;
	-webkit-box-shadow: 0px 2px 0px 0px #d34b57;
	box-shadow: 0px 2px 0px 0px #d34b57;
	}
	
.flato-pink-button:hover {
	background-color: #f28794;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #eb7685;
	-webkit-box-shadow: 0px 2px 0px 0px #eb7685;
	box-shadow: 0px 2px 0px 0px #eb7685;
	color: #f7c2c8;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-pink-button:active {
	background-color: #cf545c;
	color: #e3a4a8;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #ca4e57;
	-webkit-box-shadow: 0px 2px 0px 0px #ca4e57;
	box-shadow: 0px 2px 0px 0px #ca4e57;
	}
	
.flato-pink-button-disabled {
	padding: 11px 20px;
	background-color: #f0b2b9;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #f0b2b9;
	-webkit-box-shadow: 0px 2px 0px 0px #f0b2b9;
	box-shadow: 0px 2px 0px 0px #f0b2b9;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f0b2b9;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
	/* Use the Following CSS Code for a Dark Blue Button*/
.flato-dark-button {
	padding: 9px 25px;
	background-color: #425b71;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #344c60;
	-webkit-box-shadow: 0px 2px 0px 0px #344c60;
	box-shadow: 0px 2px 0px 0px #344c60;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e3f0f7;
	font-smooth: always; 
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-dark-button:visited {
	background-color: #425b71;
	color: #e3f0f7;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #344c60;
	-webkit-box-shadow: 0px 2px 0px 0px #344c60;
	box-shadow: 0px 2px 0px 0px #344c60;
	}
	
.flato-dark-button:hover {
	background-color: #556c7f;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #4c6376;
	-webkit-box-shadow: 0px 2px 0px 0px #4c6376;
	box-shadow: 0px 2px 0px 0px #4c6376;
	color: #d3d9df;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-dark-button:active {
	background-color: #35495a;
	color: #aab7c3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #2d4152;
	-webkit-box-shadow: 0px 2px 0px 0px #2d4152;
	box-shadow: 0px 2px 0px 0px #2d4152;
	}
	
.flato-dark-button-disabled {
	padding: 11px 20px;
	background-color: #a6adb3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #a6adb3;
	-webkit-box-shadow: 0px 2px 0px 0px #a6adb3;
	box-shadow: 0px 2px 0px 0px #a6adb3;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #d3dbe2;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	

	/* Use the Following CSS Code for a Blue Button*/
.flato-blue-button {
	padding: 9px 25px;
	background-color: #3bbce0;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #12a7cb;
	-webkit-box-shadow: 0px 2px 0px 0px #12a7cb;
	box-shadow: 0px 2px 0px 0px #12a7cb;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e3f6f7;
	font-smooth: always; 
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-blue-button:visited {
	background-color: #3bbce0;
	color: #e3f6f7;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #12a7cb;
	-webkit-box-shadow: 0px 2px 0px 0px #12a7cb;
	box-shadow: 0px 2px 0px 0px #12a7cb;
	}
	
.flato-blue-button:hover {
	background-color: #53d7ec;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #31cee4;
	-webkit-box-shadow: 0px 2px 0px 0px #31cee4;
	box-shadow: 0px 2px 0px 0px #31cee4;
	color: #ccf5fb;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-blue-button:active {
	background-color: #38b2d5;
	color: #aadeed;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #21a5c7;
	-webkit-box-shadow: 0px 2px 0px 0px #21a5c7;
	box-shadow: 0px 2px 0px 0px #21a5c7;
	}
	
.flato-blue-button-disabled {
	padding: 11px 20px;
	background-color: #95e0ec;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #95e0ec;
	-webkit-box-shadow: 0px 2px 0px 0px #95e0ec;
	box-shadow: 0px 2px 0px 0px #95e0ec;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #ccf5fb;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
/* Use the Following CSS Code for a Tirquoise Button*/
.flato-tirquoise-button {
	padding: 9px 25px;
	background-color: #00c5ad;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #00ab94;
	-webkit-box-shadow: 0px 2px 0px 0px #00ab94;
	box-shadow: 0px 2px 0px 0px #00ab94;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e3f7f2;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-tirquoise-button:visited {
	background-color: #00c5ad;
	color: #e3f7f2;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #00ab94;
	-webkit-box-shadow: 0px 2px 0px 0px #00ab94;
	box-shadow: 0px 2px 0px 0px #00ab94;
	}
	
.flato-tirquoise-button:hover {
	background-color: #73dfd2;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #73d6c9;
	-webkit-box-shadow: 0px 2px 0px 0px #73d6c9;
	box-shadow: 0px 2px 0px 0px #73d6c9;
	color: #d7f8f4;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-tirquoise-button:active {
	background-color: #00b19b;
	color: #a6e8e0;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #00a28c;
	-webkit-box-shadow: 0px 2px 0px 0px #00a28c;
	box-shadow: 0px 2px 0px 0px #00a28c;
	}
	
.flato-tirquoise-button-disabled {
	padding: 11px 20px;
	background-color: #a3e0d9;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #a3e0d9;
	-webkit-box-shadow: 0px 2px 0px 0px #a3e0d9;
	box-shadow: 0px 2px 0px 0px #a3e0d9;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #d7f8f4;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
/* Use the Following CSS Code for a Green Button*/
.flato-green-button {
	padding: 9px 25px;
	background-color: #99ca6a;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #8abc5d;
	-webkit-box-shadow: 0px 2px 0px 0px #8abc5d;
	box-shadow: 0px 2px 0px 0px #8abc5d;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #eaf7e3;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-green-button:visited {
	background-color: #99ca6a;
	color: #eaf7e3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #8abc5d;
	-webkit-box-shadow: 0px 2px 0px 0px #8abc5d;
	box-shadow: 0px 2px 0px 0px #8abc5d;
	}
	
.flato-green-button:hover {
	background-color: #c7e29a;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #c2dd8e;
	-webkit-box-shadow: 0px 2px 0px 0px #c2dd8e;
	box-shadow: 0px 2px 0px 0px #c2dd8e;
	color: #e8f7ce;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-green-button:active {
	background-color: #91c065;
	color: #bae294;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #88b75d;
	-webkit-box-shadow: 0px 2px 0px 0px #88b75d;
	box-shadow: 0px 2px 0px 0px #88b75d;
	}
	
.flato-green-button-disabled {
	padding: 11px 20px;
	background-color: #d4e1bf;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #d4e1bf;
	-webkit-box-shadow: 0px 2px 0px 0px #d4e1bf;
	box-shadow: 0px 2px 0px 0px #d4e1bf;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e8f7ce;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
/* Use the Following CSS Code for a Green Button*/
.flato-green-button {
	padding: 9px 25px;
	background-color: #99ca6a;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #8abc5d;
	-webkit-box-shadow: 0px 2px 0px 0px #8abc5d;
	box-shadow: 0px 2px 0px 0px #8abc5d;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #eaf7e3;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-green-button:visited {
	background-color: #99ca6a;
	color: #eaf7e3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #8abc5d;
	-webkit-box-shadow: 0px 2px 0px 0px #8abc5d;
	box-shadow: 0px 2px 0px 0px #8abc5d;
	}
	
.flato-green-button:hover {
	background-color: #c7e29a;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #c2dd8e;
	-webkit-box-shadow: 0px 2px 0px 0px #c2dd8e;
	box-shadow: 0px 2px 0px 0px #c2dd8e;
	color: #e8f7ce;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-green-button:active {
	background-color: #91c065;
	color: #bae294;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #88b75d;
	-webkit-box-shadow: 0px 2px 0px 0px #88b75d;
	box-shadow: 0px 2px 0px 0px #88b75d;
	}
	
.flato-green-button-disabled {
	padding: 11px 20px;
	background-color: #d4e1bf;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #d4e1bf;
	-webkit-box-shadow: 0px 2px 0px 0px #d4e1bf;
	box-shadow: 0px 2px 0px 0px #d4e1bf;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #e8f7ce;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
	
/* Use the Following CSS Code for a Yellow Button*/
.flato-yellow-button {
	padding: 9px 25px;
	background-color: #fac75b;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #ecbb4f;
	-webkit-box-shadow: 0px 2px 0px 0px #ecbb4f;
	box-shadow: 0px 2px 0px 0px #ecbb4f;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7f7e3;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-yellow-button:visited {
	background-color: #fac75b;
	color: #f7f7e3;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #ecbb4f;
	-webkit-box-shadow: 0px 2px 0px 0px #ecbb4f;
	box-shadow: 0px 2px 0px 0px #ecbb4f;
	}
	
.flato-yellow-button:hover {
	background-color: #fce084;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #f7dc78;
	-webkit-box-shadow: 0px 2px 0px 0px #f7dc78;
	box-shadow: 0px 2px 0px 0px #f7dc78;
	color: #fef5d7;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-yellow-button:active {
	background-color: #edbd56;
	color: #f4ddaa;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #e5b54f;
	-webkit-box-shadow: 0px 2px 0px 0px #e5b54f;
	box-shadow: 0px 2px 0px 0px #e5b54f;
	}
	
.flato-yellow-button-disabled {
	padding: 11px 20px;
	background-color: #fbecb9;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #fbecb9;
	-webkit-box-shadow: 0px 2px 0px 0px #fbecb9;
	box-shadow: 0px 2px 0px 0px #fbecb9;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #faf7ee;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}
/* Use the Following CSS Code for a Gray Button*/
.flato-gray-button {
	padding: 9px 25px;
	background-color: #c9ced1;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #bec2c4;
	-webkit-box-shadow: 0px 2px 0px 0px #bec2c4;
	box-shadow: 0px 2px 0px 0px #bec2c4;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #ffffff;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	}
	
.flato-gray-button:visited {
	background-color: #c9ced1;
	color: #ffffff;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #bec2c4;
	-webkit-box-shadow: 0px 2px 0px 0px #bec2c4;
	box-shadow: 0px 2px 0px 0px #bec2c4;
	}
	
.flato-gray-button:hover {
	background-color: #e1e4e6;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #dddfe1;
	-webkit-box-shadow: 0px 2px 0px 0px #dddfe1;
	box-shadow: 0px 2px 0px 0px #dddfe1;
	color: #f9f9f9;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
.flato-gray-button:active {
	background-color: #b5b9bc;
	color: #dfdfdf;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #adb1b5;
	-webkit-box-shadow: 0px 2px 0px 0px #adb1b5;
	box-shadow: 0px 2px 0px 0px #adb1b5;
	}
	
.flato-gray-button-disabled {
	padding: 11px 20px;
	background-color: #eaedee;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 0px 0px #eaedee;
	-webkit-box-shadow: 0px 2px 0px 0px #eaedee;
	box-shadow: 0px 2px 0px 0px #eaedee;
	line-height: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7f7f7;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	outline: none;
	}

		ul.flato-menu {
	list-style-type: none;
	text-align: center;	
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	}


ul.flato-menu li {
	float: left;
	display: inline;
	}

ul.flato-menu li a {
	padding: 11px 26px;
	display: inline-block;
	color: #e4f8f3;
	text-decoration: none;
	outline: none;
	background: #00c5ad;
	-moz-box-shadow: 0px 2px 0px 0px #00ab94;
	-webkit-box-shadow: 0px 2px 0px 0px #00ab94;
	box-shadow: 0px 2px 0px 0px #00ab94;
	}
	
ul.flato-menu li a:hover {
	background: #73dfd2;
	color: #d7f8f4;
	-moz-box-shadow: 0px 2px 0px 0px #00c5ad;
	-webkit-box-shadow: 0px 2px 0px 0px #00c5ad;
	box-shadow: 0px 2px 0px 0px #00c5ad;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	}
	
ul.flato-menu li.current a {
	pointer-events: none;
	cursor: default;
	}

ul.flato-menu li:first-child a,
ul.flato-menu li:first-child a:hover {
	-moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -khtml-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	}

ul.flato-menu li:last-child a,
ul.flato-menu li:last-child a:hover {
	-moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -khtml-border-radius: 3px 0px 0px 3px;
	border-radius: 0px 3px 3px 0px;
	}

ul.flato-menu li a:active,
ul.flato-menu li.current a {
	background: #00b19b;
	color: #a6e8e0;
	-moz-box-shadow: 0px 2px 0px 0px #00a28c;
	-webkit-box-shadow: 0px 2px 0px 0px #00a28c;
	box-shadow: 0px 2px 0px 0px  #00a28c;
	}
