<!DOCTYPE HTML>

<html>
	<head>
		<title>Raspberry Pi Ev Kontrol Sistemi</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext" rel="stylesheet" />
		<script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='skel.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='init.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='skel-noscript.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style-desktop.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='noscript.css') }}" />
			</head>
	<body class="homepage">

		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav">
						<a href="#me" class="fa fa-home "><span>Anasayfa</span></a>
						<a href="#hakkinda" class="fa fa-file-text-o"><span>Hakkında</span></a>
						<a href="#ayar" class="fa fa-cog"><span>Ayarlar</span></a>
						<a href="#kontrol" class="fa fa-play active"><span>Kontrol</span></a>
					</nav>

				<!-- Main -->
					<div id="main">
						
						<!-- Me -->
							<article id="me" class="panel">
								<header>
									<h1>Raspberry Pi</h1>
									<span class="byline">Ev Kontrol Sistemi</span>
								</header>
								<a href="#kontrol" class="jumplink pic">
									<img src="{{ url_for('static', filename = 'raspi.jpg') }}" alt="" >
								</a>
							</article>

						<!-- Work --> 
							<article id="hakkinda" class="panel">
								<header>
									<h2>Proje Hakkında</h2>
								</header>
								<p>
Projemiz genel hatlarıyla: İstemci taraf ile TCP protokolu üzerinden wireless haberleşme kurulması ve Raspberry Pi ile ev içindeki cihazları kontrol etmek üzerinedir. 
Yazdığımız web sayfası kullanıcının istediği şekilde paket oluşturup göndermektedir. 
Raspberry Pi ise gelen haberleşme paketlerini kullanarak gerekli kontrolleri sağlamaktadır. 
Projemiz ucuz maliyetli, geliştirilebilir, internet üzerinden kontrol edilebilen bir gömülü sistem(embedded system) dir. 
İnternet üzerinden kontrol günümüz dünyası için oldukça popüler bir alandır. 
Linux tabanlı bir işletim sisteminin kullanıldığı Raspberry Pi kartına yazdığımız kod Server olarak çalışmaktadır. 
Herhangi bir web sayfasının bağlantı kurmasını bekler durumda olan kartımız aynı anda birden fazla sayfaya da cevap verebilir durumdadır. 
								</p>
							</article>

							<article id="ayar" class="panel">
								<header>
									<h2>Ayarlar</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row half">
											<div class="6u">
												<input type="text" class="text" name="ip" placeholder="192.168.1.10" />
											</div>
											<div class="6u">
												<input type="text" class="text" name="gateway" placeholder="192.168.1.1" />
											</div>
										</div>
										<form>
											<span class="byline">Çoklu bağlantıya izin verilsin mi?</span>
											<span class="flato-radio-buttons"><input type="checkbox" class="styled" />Evet</span>
											<span class="flato-radio-buttons"><input type="checkbox" class="styled" checked="checked" />Hayır</span><br/>
										</form>
										<div class="row">
											<div align="center" class="12u">
												<a href="#" class="flato-dark-button 3u" align="center">Ayarları Kaydet</a>
											</div>
										</div>
									</div>
								</form>
							</article>
							<article id="kontrol" class="panel">
								<header>
									<h1 align="center">Raspberry Pi ile Ev Kontrolü</h1>
									<div align="center">
									<span class="byline">Salon Işıklar</span>
									<a href="/17/on" class="flato-green-button 2u">Aç</a>
									<a href="#" class="flato-red-button 2u">Kapat</a>
									<span class="byline">Oturma Odası Işıklar</span>
									<a href="#" class="flato-green-button 2u">Aç</a>
									<a href="#" class="flato-red-button 2u">Kapat</a>
									<span class="byline">Mutfak Işıklar</span>
									<a href="#" class="flato-green-button 2u">Aç</a>
									<a href="#" class="flato-red-button 2u">Kapat</a>
									   {% for pin in pins %}
									   <p>The {{ pins[pin].name }}
									   {% if pins[pin].state == true %}
									      is currently on (<a href="/{{pin}}/off">turn off</a>)
									   {% else %}
									      is currently off (<a href="/{{pin}}/on">turn on</a>)
									   {% endif %}
									   </p>
									   {% endfor %}
									</div>
								</header>
							</article>

					</div>
		
				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>Raspberry Pi Ev Kontrol Sistemi</li>
						</ul>
					</div>
		
			</div>

	</body>
</html>